<section class="w-100  overflow-auto overflow-x-hidden">
    <div class="text-center">
        <h2 class="display-5 fw-bold mb-3"> <span class="text-secondary-custom">Featured </span>Projects</h2>
        <p class="text-on-surface-variant mx-auto" style="max-width: 512px;">
            A curated selection of technologies and methodologies I use to bring vision to life.
        </p>
    </div>
    <!-- Project 1 -->
    <div class="row">
        @for (project of projectList; track project; let i = $index) {
        <div [class]="'col-md-6 p-1 bg-danger flex-grow-1 project'">
            <div class="glass-card p-2 bg-info">
                <img alt="Dashboard interface" width="100%" class="image-zoom"
                    [src]="'http://localhost:3000/files/' + project.imgURL" />
                <div class="project-overlay">
                    <div class="d-flex gap-2 mb-3">
                        @for (tech of project.techs; track tech) {
                        <span class="badge-tag">{{tech}}</span>}
                    </div>
                    <h3 class="fs-2 text-white mb-2">{{project.name}}</h3>
                    <p class="mb-4">{{project.desc}}</p>
                    <div class="d-flex text-secondary-custom justify-content-start align-items-center">
                        <a target="_blank"
                            class="text-decoration-none text-secondary-custom font-mono d-flex align-items-center "
                            [href]="project.link">
                            VIEW PROJECT
                            <span class="d-flex align-items-center p-1"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</section>